.mediaGallery {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    outline: none;
}

.carrousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.carrouselImage {
   width: 100%;
}

.arrowLeft{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(205, 205, 205);
    left: 0;
    cursor: pointer;
    min-width: 60px;
    opacity: 0;
}

.arrowLeft:hover{
    opacity: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.arrowRight{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(205, 205, 205);
    right: 0;
    min-width: 60px;
    opacity: 0;
}

.arrowRight:hover{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    opacity: 1;
}

.countContainer {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: none;
    color: black;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    left: 0; 
    margin-bottom: 16px;
    padding: 8px;
    position: absolute;
    width: 5%;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    right: 0; 
}